* {
    padding: 0;
}

body {
    color: #b8f2e6;
    background-color: #5e6472;
    text-align: center;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #ffa69e;
    font-style: italic;
}

.sobre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    color: #aed9e0;
}

.habilidade1 {
    font-size: 1.3em;
}

.habilidade2 {
    font-size: 1.1em;
}

.habilidade3 {
    font-size: 1.3em;
}