* {
    padding: 0;
}

body {
    color: #b8f2e6;
    background-color: #5e6472;  
    font-size: 1.2em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffa69e;
    font-style: italic;
}

.sobre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    color: #aed9e0;
}

.habilidade1 {
    font-size: 1.3em;
}

.habilidade2 {
    font-size: 1.1em;
}

.habilidade3 {
    font-size: 1.3em;
}

#foto {
    float: left;
}

h1 {
    text-align: center;
}

img {
    padding: 10px;
    background-color: #faf3dd;
    margin-right: 20px;
    margin-left: 280px;
}   

#position {
    margin-bottom: 50px;
}

#sobre {
    padding-top: 35px;
}

#habilidade {
    font-style: italic;
}

div {
    text-align: start;
}

a:hover {
    color: #e2bcb9;
}